.items {
    border:3px;
    flex: none;
    align-self: auto;
    background-color: #F6F6F6 20%;
    padding: 15px 70px 15px 20px;
    border: 1px solid #001122 10%;
    display: block;
    margin: 10px;
    color: #001122;
    border-radius: 2px
}

.items:hover {
    background-color: #F6F6F6;
}