ul {
    display: block;
    padding-left: initial !important;
    margin-bottom: 0 !important;
}

ul li {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.714;
    opacity: 80%;
}

.name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.778;
    opacity: 80%;
}

ul li i {
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
    /* fill:#c8cdd0; */
}

.icon-users::before {
    content: url(../../assets/Users.svg);
}

.icon-createdAt::before {
    content: url(../../assets/Timezone.svg);
}

.icon-views::before {
    content: url(../../assets/Views.svg);
}