ul {
    display: block;
    padding-left: initial !important;
    /* margin-bottom: 0 !important; */
}

ul li {
    list-style: none;
}

.description-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.714;
    opacity: 80%;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    opacity: 80%;
}