.items {
    border:3px;
    flex: none;
    align-self: auto;
    background-color: RGBA(246, 246, 246, 0.2);
    padding: 15px 25px;
    border: 1px solid RGBA(0, 17, 34, 0.1);
    display: block;
    margin: 12.5px;
    color: #001122;
    border-radius: 2px;
    width: 340px;
    height: 139px;
}

.items:hover {
    background-color: #F6F6F6;
    position: relative;
}

.items:hover::before {
    content: url(../assets/Edit.svg);
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 60px;
    width: 26px;
    height: 26px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 3px;
}